{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 mb-5 bg-dark rounded">
                <div class="card-body">
                    <h2 class="card-title text-black text-center mb-4">Login Form</h2>
                    <form method="post" class="text-black">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary text-black">Login</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <span class="text-black">Don't have an account?</span>
                        <a href="{% url 'register' %}" class="text-primary">Register Here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
