{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 mb-5 bg-light rounded">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Register Form</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary text-white">Register</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <p class="mb-0">Already have an account?</p>
                        <a href="{% url 'login' %}" class="text-primary">Login Here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
