{% extends "layout.html" %}
{% load static %}

{% block title %}
Tweet
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary">{% if form.instance.pk %} Edit Tweet {% else %} Create a New Tweet {% endif %}</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-4">
                <form method="post" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-between mt-4">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a href="{% url 'tweet_list' %}" class="text-black ">Back to Tweet List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
