.App {
    text-align: center;
    height: 100vh;
  }
  
  .note {
    margin: 10px;
  }
  
  .note-form {
    margin: 20px 0;
  }
  
  .dark-mode {
    background-color: #121212;
    color: white;
    padding: 0 0;
  }
  